/*css初始化*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size:14px;background:#f7f7f7;-webkit-text-size-adjust:100%;color: rgb(31, 43, 61);}
a{text-decoration:none; color: #333;}
a:hover{text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

/*主题色 rgb(42, 63, 84)*/

/*公共样式*/
.text-center{text-align: center;}
.text-left{text-align: left}
.text-right{text-align: right}

/*color相关*/
.color-error{
  color: #ff4949;
}

/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/*搜索框*/
.search-10{
  margin: 10px;
}

/*左浮动，右浮动*/
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

/*重置默认样式*/
button a,button a:hover,button a:active{
  text-decoration: none;
  color: inherit;
}

/*表格相关公共样式*/
/*表头背景色*/
.el-table th {
  background-color: #d4d9dd;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #d4d9dd;
  color: #5b6877;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
  color: #ffffff;
}
.el-menu--dark {
  background-color: rgb(42, 63, 84);
}
.el-table__body-wrapper{
  overflow-x: hidden;
}



/*按钮*/
.btn{
  margin: 10px;
}
.btn-info{
  color: #fff;
  background-color: #0cb995;
  border-color: #0cb995;
}
.btn-group{
  margin:10px;
  float: left;
}
/*重置小组搜索输入框*/
#groupListSearch .el-input__inner{
  background-color: rgba(255,255,255,.8);
}

/*必填项 * 图标*/
.required-fields:after{
  content: ' *';
  color: red;
  font-size: 120%;

}
/*分割线-虚线*/
.cutLine-dashed{
  display: block;
  height: 0;
  margin:5px 0;
  border-bottom: 1px dashed #c8c8c8;
}

/*badge*/
.myupload + .el-badge__content.is-fixed{
  top:13px;
}

/*公共条件搜索区域样式*/
.teachingMaterial-search{

}
.searchBox-wrapper{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 6px;
}
.searchBox-wrapper .searchName{
  float: left;
  display: inline-block;
  line-height: 36px;
  width: 90px;
  height: 36px;
  text-align: justify;
  vertical-align: middle;
}
.searchBox-wrapper .searchName > span { display: inline-block /* Opera */; padding-left: 100%; }
.searchBox-wrapper .searchInput{
  margin-left: 94px;
  box-sizing: border-box;
}
.searchBox-wrapper.lg{
  width: 50%;

}
.searchBox-wrapper.searchBtn{
  width: 100px;
  line-height: 36px;
  padding: 0;
}
.searchBox-wrapper .searchInput .el-select{
  width: 100%;
}
.operation-wrapper{
  text-align: right;
  clear: both;
}
.table-wrapper{
  margin: 10px 0;
}
/*高级搜索样式*/
.powerSearch .operation-wrapper{
  display: inline-block;
  float: right;
  clear: none;
}
.powerSearch .searchName{
  width: 110px;
}
.powerSearch .searchBox-wrapper .searchInput{
  margin-left: 114px;
}
/*end*/

/*表格里的样式设置*/
/*表格里的a 标签统一蓝色*/
a.table-link{
  color:#337ab7;
}
a.table-link:hover{
  color: #23527c;
}







/*重置editor样式*/
@import "./resetEditor.css";
@import "responsive.css";
