/*css初始化*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-size:14px;}
a{text-decoration:none; color: #333;}
a:hover{text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}



/*主题色 rgb(42, 63, 84)*/

/*=================================================================
  文字相关
  =================================================================*/
.fontsize-sm{font-size: 12px;}
.fontsize-normal{font-size: 14px;}
.fontsize-lg{font-size: 16px;}
.fontsize-18{font-size: 18px;}
.fontsize-20{font-size: 20px;}
.fontsize-28{font-size: 28px;}

.fontBold{font-weight: bold;}

.text-center{text-align: center;}
.text-left{text-align: left}
.text-right{text-align: right}
/*文字超出显示省略号*/
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/*字体相关*/
.lineheight-1{line-height: 1;}
.lineheight-16{line-height: 16px;}
.lineheight-18{line-height: 18px;}
.lineheight-24{line-height: 24px;}
.lineheight-28{line-height: 28px;}
.lineheight-36{line-height: 36px;}

.lineheight-normal{line-height:1.4;}
.word-wrap{word-wrap:break-word}

.page-title{
  padding: 10px 0 20px;
  font-size: 16px;
  font-weight: bold;
}

/*=================================================================
  color相关
  =================================================================*/
.color-error{color: #ff4949;}
.gray{color:#c8c8c8;}
.blue{color: #337ab7;}
.orange{color:#fe955e;}
.green{color: #1ab194;}
.error{color: #f5596e;}

.bg-yellow{background-color: yellow;}
.bg-none{background: none !important;}
.bg-none *{background: none !important;}
.bg-transparent{background: transparent;}
.link{color: #337ab7;cursor: pointer;}
/*=================================================================
  布局相关
  =================================================================*/
.none{
  display: none;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.table{display: table}
.table-cell{display: table-cell}
.vertical-align-middle{vertical-align-middle: middle;}
/*=================================================================
  float等宽列表
  使用示例：
    <div class="inline_box">
      <div class="inline_2"></div>
      <div class="inline_2"></div>
    </div>
  =================================================================*/
.inline_box{}
.inline_box:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.inline_2, .inline_3, .inline_4, .inline_5, .inline_6{float:left;}
.inline_2{width:50%; *width:49.9%;}
.inline_3{width:33.33333%; *width:33.3%;}
.inline_4{width:25%; *width:24.9%;}
.inline_5{width:20%; *width:19.9%;}
.inline_6{width:16.66666%; *width:16.6%;}

/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/*搜索框*/
.search-10{
  margin: 10px;
}

/*左浮动，右浮动*/
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
/*=================================================================
  width && height
  =================================================================*/

.width20{width: 20px;}
.width40{width: 40px;}
.width60{width: 60px;}
.width80{width: 80px;}
.width100{width: 100px;}
.width150{width: 150px;}
.width200{width: 200px;}
.width250{width: 250px;}
.width300{width: 300px;}
.width350{width: 350px;}
.width400{width: 400px;}
.width500{width: 500px;}
.width600{width: 600px;}
.width800{width: 800px;}
.width1000{width: 1000px;}

.height10{height: 10px;}
.height20{height: 20px;}
.height30{height: 30px;}
.height40{height: 40px;}
.height50{height: 50px;}
.height60{height: 60px;}
.height70{height: 70px;}
.height80{height: 80px;}
.height100{height: 100px;}
.height120{height: 120px;}
.height160{height: 160px;}
.height180{height: 180px;}
.height200{height: 200px;}
.height300{height: 300px;}
.height400{height: 400px;}
.height500{height: 500px;}



/*=================================================================
  padding
  =================================================================*/
.paddingT0 { padding-top: 0; }
.paddingT1{ padding-top: 1px; }
.paddingT5  { padding-top: 5px; }
.paddingT10 { padding-top: 10px; }
.paddingT15 { padding-top: 15px; }
.paddingT20 { padding-top: 20px; }
.paddingT30 { padding-top: 30px; }
.paddingT40 { padding-top: 40px; }
.paddingT50 { padding-top: 50px; }
.paddingT60 { padding-top: 60px; }

.paddingB0 { padding-bottom: 0; }
.paddingB5  { padding-bottom: 5px; }
.paddingB10 { padding-bottom: 10px; }
.paddingB15 { padding-bottom: 15px; }
.paddingB20 { padding-bottom: 20px; }
.paddingB30 { padding-bottom: 30px; }
.paddingB40 { padding-bottom: 40px; }
.paddingB50 { padding-bottom: 50px; }

.paddingL0 { padding-left: 0; }
.paddingL5  { padding-left: 5px; }
.paddingL10 { padding-left: 10px; }
.paddingL15 { padding-left: 15px; }
.paddingL20 { padding-left: 20px; }
.paddingL60 { padding-left: 60px; }
.paddingL30 { padding-left: 30px; }
.paddingL80 { padding-left: 80px; }
.paddingL100 { padding-left: 100px; }
.paddingL110 { padding-left: 110px; }

.paddingR0 { padding-right: 0; }
.paddingR5  { padding-right: 5px; }
.paddingR10 { padding-right: 10px; }
.paddingR15 { padding-right: 15px; }
.paddingR20 { padding-right: 20px; }
.paddingR30 { padding-right: 30px; }

.padding0{padding: 0;}
.padding20 { padding:  20px; }

/*=================================================================
  margin
  =================================================================*/
.marginL0 { margin-left: 0;}
.marginT0 { margin-top: 0;}

.marginT10 { margin-top: 10px; }
.marginT20 { margin-top: 20px; }
.marginT30 { margin-top: 30px; }
.marginT40 { margin-top: 40px; }
.marginT50 { margin-top: 50px; }
.marginT60 { margin-top: 60px; }

.marginL10 { margin-left: 10px; }
.marginL20 { margin-left: 20px; }
.marginL30 { margin-left: 30px; }
.marginL40 { margin-left: 40px; }
.marginL50 { margin-left: 50px; }
.marginL60 { margin-left: 60px; }
.marginL80 { margin-left: 80px; }
.marginL100 { margin-left: 80px; }
.marginL100 { margin-left: 100px; }
.marginL110 { margin-left: 110px; }

.marginR10 { margin-right: 10px; }
.marginR20 { margin-right: 20px; }
.marginR30 { margin-right: 30px; }
.marginR40 { margin-right: 40px; }
.marginR50 { margin-right: 50px; }
.marginR60 { margin-right: 60px; }

.marginB10 { margin-bottom: 10px; }
.marginB20 { margin-bottom: 20px; }
.marginB30 { margin-bottom: 30px; }
.marginB40 { margin-bottom: 40px; }
.marginB50 { margin-bottom: 50px; }
.marginB60 { margin-bottom: 60px; }

.margin-auto{margin-left: auto;margin-right: auto;}


/*=================================================================
  z-index-100
  =================================================================*/
.z-index-10{z-index: 10;}
.z-index-20{z-index: 20;}
.z-index-30{z-index: 30;}
.z-index-40{z-index: 40;}
.z-index-50{z-index: 50;}
.z-index-60{z-index: 60;}
.z-index-70{z-index: 70;}
.z-index-80{z-index: 80;}
.z-index-100{z-index: 100;}
.z-index-200{z-index: 200;}
.z-index-300{z-index: 300;}
.z-index-600{z-index: 600;}
.z-index-800{z-index: 800;}
.z-index-1000{z-index: 1000;}


/*=================================================================
  border
  =================================================================*/
.border-T{
  border-top: 1px solid #ccc;
}
.border-B{
  border-bottom: 1px solid #ccc;
}
.border-dashed-T{
  border-top: 1px dashed #ccc;
}
.border-dashed-B{
  border-bottom: 1px dashed #ccc;
}

.border-red{border:1px solid #f5596e !important;}

.no-border{
  border: none !important;
}

.border-radius-4{
  border-radius: 4px;
}

/*=================================================================
  鼠标样式
  =================================================================*/
.cursor-pointer{
  cursor: pointer;
}

/*重置默认样式*/
button a,button a:hover,button a:active{
  text-decoration: none;
  color: inherit;
}

/*表格相关公共样式*/
/*表头背景色*/
.el-table th {
  background-color: #d4d9dd;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #d4d9dd;
  color: #5b6877;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
  color: #ffffff;
}
.el-menu--dark {
  background-color: transparent;
}
.el-table__body-wrapper{
  overflow-x: hidden;
}
/*自定义的输入框宽度*/
.input-217{
  width:217px;
}
.input-600{
  width:600px;
}
.input-500{
  width:500px;
}

/*=================================================================
  图片
  =================================================================*/
img{
  max-width: 100%;
}


/*按钮*/
.btn{
  margin: 10px;
}
.btn-info{
  color: #fff;
  background-color: #0cb995;
  border-color: #0cb995;
}
.btn-group{
  margin:10px;
  float: left;
}

.bookTitle{
  font-size: 16px;
  font-weight: 700;
}

/*重置小组搜索输入框*/
#groupListSearch .el-input__inner{
  background-color: rgba(255,255,255,.8);
}

/*必填项 * 图标*/
.required-fields:before{
  content: ' *';
  color: red;
  font-size: 120%;

}
/*分割线-虚线*/
.cutLine-dashed{
  display: block;
  height: 0;
  margin:5px 0;
  border-bottom: 1px dashed #c8c8c8;
}
.vertical-line{
  display: inline-block;
  width: 2px;
  height: 16px;
  border-left: 2px;
  background: #ccc;
  vertical-align: middle;
}
/*两端对齐*/
.justify-align{
  float: left;
  display: inline-block;
  line-height: 36px;
  height: 36px;
  text-align: justify;
  vertical-align: middle;
}
.justify-align > span { display: inline-block /* Opera */; padding-left: 100%; }

/* 小组功能文件共享页面 badge*/
.myupload .el-badge__content.is-fixed{
  top:13px;
}

/*公共条件搜索区域样式*/
.teachingMaterial-search{

}
.searchBox-wrapper{
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 300px;
  padding: 0 10px;
  margin-bottom: 6px;
}
.searchBox-wrapper .searchName{
  float: left;
  display: inline-block;
  line-height: 36px;
  width: 90px;
  height: 36px;
  text-align: justify;
  vertical-align: middle;
}
.searchBox-wrapper .searchName > span { display: inline-block /* Opera */; padding-left: 100%; }
.searchBox-wrapper .searchInput{
  margin-left: 94px;
  box-sizing: border-box;
}
.searchBox-wrapper.lg{
  width: 50%;
  max-width: 800px;

}
.searchBox-wrapper.max{
  width: 80%;
  max-width: 800px;

}
.searchBox-wrapper.searchBtn{
  width: 100px;
  line-height: 36px;
  padding: 0;
}
.searchBox-wrapper .searchInput .el-select{
  width: 100%;
}
.operation-wrapper{
  text-align: right;
  float: right;
}
.table-wrapper{
  margin: 10px 0;
}
.echart-wrapper{
  margin: 10px 0;
}
/*高级搜索样式*/
.powerSearch .operation-wrapper{
  display: inline-block;
  float: right;
  clear: none;
}
.powerSearch .searchName{
  width: 110px;
}
.powerSearch .searchBox-wrapper .searchInput{
  margin-left: 114px;
}
.pagination-wrapper{
  clear: both;
}
.pagination-wrapper>div{
  float: right;
}
/*end*/

/*表格里的样式设置*/
/*表格里的a 标签统一蓝色*/
a.table-link{
  color:#337ab7;
}
a.table-link:hover{
  color: #23527c;
}

.table-wrapper .el-button.el-button--text{
  color:#337ab7;
}
.table-wrapper a{
  color:#337ab7;
}
.table-wrapper a :hover{
  color: #23527c;
}
.table-wrapper .el-button.is-disabled, .table-wrapper .el-button.is-disabled:focus, .table-wrapper .el-button.is-disabled:hover{
  color: #bfcbd9;
  cursor: not-allowed;
}

/*重置tab选择样式哦*/
.memberlist-wrpper .el-tabs__item.is-active{
  background: rgba(0,0,0,.1);
}
/*重置tree组件的小图标可点击区域 在父级上加上expand-icon-lg类名即可*/
.expand-icon-lg .el-tree-node__expand-icon:after {
  content: '';
  top:-8px;
  left: -10px;
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: red;
  z-index: 10;
  opacity: 0;
}

.el-button{
  min-width: 80px;
}
.el-button--text{
  min-width: inherit;
}


/*时间线*/
.timeLine  {display:block;margin:15px 0;}/*首先，我们要创建一个容器class*/
.timeLine ul {margin-left:25px;border-left:2px solid #ddd;}/*利用ul标签的特性，设置外边框左移25px，左边边框是2px粗的实心线，颜色一般要浅一点*/
.timeLine ul li {min-height: 30px;margin-bottom:30px;width:100%;margin-left:-12px;line-height:20px;font-weight:normal;}/*一般情况，通过li标签控制圆点回到时间线上，然后控制要出现的文字大小和是否粗体*/
.timeLine ul li b {width:8px;height:8px;background:#fff;border:2px solid #555;margin:5px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;overflow:hidden;display:inline-block;float:left;}/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点。*/
.timeLine ul li:hover b {border:2px solid #ff6600;}/*注意这一行，前面的li标签后面加了一个:hover伪属性，意思是鼠标移上来，激活后面的属性，这样可以设置鼠标移动到整个时间范围的时候，时间点和时间显示会变色*/
.timeLine ul li p {padding-left:28px;font-size:14px;line-height:25px;}/*这里利用段落标签p做文字介绍*/


.material-notice p,.message-detail-content p{
  margin: 5px 0;
  min-height: 19px;
}


/*媒体查询样式*/
@import "responsive.css";
/*打印样式*/
@import "print.css";



.el-message-box__btns {
  padding: 10px 20px 15px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.el-message-box__btns button:nth-child(1) {
  margin-left: 10px;
}

.el-message-box__btns button:nth-child(2) {
  margin-left: 0px;
}
